.container {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
}

.left-panel {
    flex: 1.3;
    background-color: #445c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.left-panel .main-logo {
    z-index: 2;
    width: 60%;
    height: auto;
    position: relative;
}

.blob-shape1 {
    position: absolute;
    top: -25%;
    left: -5%;
    width: 400px;
    height: 400px;
    background-color: #ffff;
    border-radius: 30% 60% 30% 70% / 40% 30% 70% 30%;
    opacity: 0.1;
    z-index: 1;
}

.blob-shape2 {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: #ffff;
    border-radius: 30% 60% 30% 60% / 40% 30% 70% 30%;
    opacity: 0.1;
    z-index: 1;
}


.right-panel {
    flex: 1;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.right-panel .logo-small {
    width: 400px;
    height: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.login-form {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: #999;
}

.btn-signin {
    width: 100%;
    padding: 15px;
    background-color: #445c2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-signin:hover {
    background-color: #3b502e;
}